body{
    margin: auto;
    width: 60%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    
}

header{
    display: flex;
    justify-content: center;
    background-color: blue;
    color: aliceblue;
    text-align: center;
  
}

header ul li{
    list-style: none;
}

section form ul li{
    list-style: none;
}

section form ul li label{
    font-size: 22px;

}

section{
    margin-top: 1%;
    display: flex;
    justify-content: center;
    font-size: medium;
    background-color: gray;
    margin: 0;

}
section button{
    margin: 5px;
    font-size: 20px;
}

table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    border-radius: 10px;
    font-size: medium;
}
button{
    padding: 10px;
    border: none;
    background-color: red;
    border-radius: 10px;
}


